{% extends "main.html" %}

{% block content %}
{% load helper %}
<script type="text/javascript" charset="utf-8">
    $(window).keydown(function(event){
        if (event.keyCode == 70) {
            window.location.href="/contents/{{content|url_id}}/q/" + readtracking.selectedText();
        }
    });
</script>

<h1>Content</h1>


{% for quest in content.quest_set %}
    <li>
       <a href="/words/{{quest.word|url_id}}">{{quest|show_word}}</a>
    </li>
{% endfor %}


<hr>
{{content.text|safe}}
<hr>


{% endblock %}

