{% extends "main.html" %}

{% block content %}
{% load helper %}

<h2>My Recent Words</h2>

<ol>
{% for quest in quests %}
    {% if quest.word %}
    <li>
       <a href="{{quest.content.url}}">{{quest.word.name}}</a>
    </li>
    {% endif %}
{% endfor %}
</ol>

<a href="/dicts">My Dictionaries</a>


<div class="toobar">
    Put this to your browser toolbar, 
<a href="javascript:(function(){var%20w=window,d=document,e=encodeURIComponent,url=location.href,fff=d.getElementsByTagName('body')[0],wra=window.readtracking_ask;if(url!=''&&url!='about:blank'){if(wra){fff.removeChild(wra);}var%20s=d.createElement('script');window.readtracking_ask=s;s.src='http://readtracking.appspot.com/loader.js';fff.appendChild(s);}}());">Dic</a>
</div>


{% endblock %}






