{% extends "main.html" %}

{% block content %}
{% load helper %}

<div class="help">
    
<h2>How to use peek.la</h2>

<ol>
    <li>
        <h3>Drag the link to your browser bookmark toolbar, {% include "toolbar.html" %}</h3>
        <p><img src="/static/images/add_toolbar.png"/></p>
        <p>After you finished, The toolbar should look like this</p>
        <p><img src="/static/images/added_toolbar.png"/></p>
    </li>
    
    <li>
        <h3>Go to any website you like, select a word you don't know</h3>
        <p><img src="/static/images/select_word.png"/></p>
        <p>Click the bookmark</p>
        <p><img src="/static/images/click_the_bookmark.png"/></p>
        <p>You got the explanation</p>
        <p><img src="/static/images/you_get_explanation.png"/></p>
        <p>To check another dictionary is as easy as click a button</p>
        <p><img src="/static/images/another_dictionary.png"/></p>
    </li>
    
    <li>
        <h3>Not good enough? click the "Add or delete buttons" to add another dictionary</h3>
        <p>Google dictionary, check the word url after you search a word on dictionary website</p>
        <p><img src="/static/images/add_dictionary_is_easy1.png"/></p>
        <p>click the "Add or delete buttons" you get here. </p>
        <p>NOTE: replace the actual word "hello" with the ${word} placeholder.</p>
        <p><img src="/static/images/add_dictionary_is_easy2.png"/></p>
        <p>Then you get the dictionary next time you click the "Dic" bookmark</p>
        <p><img src="/static/images/you_got_the_dictionary.png"/></p>
    </li>
    
    <li>
        <h3>Want more?</h3>
        <p>We keep track of all the word you checked before, So you can review it later.</p>
        <p><img src="/static/images/you_know_which_word_you_checked.png"/></p>
    </li>
    
    <li>
        <h3>Can't wait to try?</h3>
        <p> <span class="important"> => </span> {% include "toolbar.html" %}</p>
    </li>
</ol>
</div>





{% endblock %}






