body {
    font-family: "Courier New";
    line-height: 20px;
/*  background: #DDD;*/
}

.greeting {
    text-align: right;
    font-size: 12px;
    
}

.add_dicts {
    font-size: 14px;
}

.add_dicts .field label {
    display: block;
    width: 120px;
    
}

.add_dicts .field input {
    width: 360px;
}

.manage_buttons {
    font-size: 12px;
}

.help p {
    font-weight: bold;
    color: #006600;
}

.help img {
    border: 5px solid #BBB;
}

.important {
    color: #990000;
    font-weight: bold;
}

iframe {
    border: 2px solid #DDD;
}

ol.recent_words li {
    float: left;
    margin-left: 50px;
}

.navigation {
    margin-top: 20px;
    text-align: right;
}


