body {
    font-family: "Courier New";
/*  background: #DDD;*/
}

.greeting {
    text-align: right;
    font-size: 12px;
    
}

.add_dicts {
    font-size: 14px;
}

.add_dicts .field label {
    display: block;
    width: 120px;
    
}

.add_dicts .field input {
    width: 360px;
}

