body {
    line-height: 25px;
/*  background: #DDD;*/
    margin-top: 0px;
    padding-top: 0px;
    font-family: "Monaco","Courier New",monospace;
    font-size: 14px;
}

.help {
    font-family: "Georgia";
    line-height: 25px;
/*  background: #DDD;*/
}

.greeting {
    text-align: right;
    font-size: 12px;
}

.add_dicts {
    font-size: 14px;
}

.add_dicts .field label {
    display: block;
    width: 120px;
    
}

.add_dicts .field input {
    width: 360px;
}

.manage_buttons {
    font-size: 12px;
}

.help p {

}

.help img {
    border: 5px solid #BBB;
}

.important {
    color: #990000;
    font-weight: bold;
}

iframe {
    border: 2px solid #DDD;
}

ol.recent_words li {
    float: left;
    min-width: 200px;
    list-style-position: inside;
}
ol.recent_words li a {
  font-size: 16px;
  text-decoration: none;
}
.navigation {
    margin-top: 20px;
    text-align: right;
}

.help .toolbar {
    border: 5px solid #006600;
    padding: 5px;
}

.help h2 {
    background-color: #BBB;
    padding: 10px 5px;
}
.peekla_ask_f {
  margin: 0;
  padding: 0;
}

.my_home_more {
  clear: both;
  text-align: center;
}
.quick_dict_view {
  width: 40%;
  margin-right: 20px;
  height: 500px;
  position: absolute;
  right: 0;
  top: 80px;
}

.hidden {
  display: none;
}

