{% extends "main.html" %}

{% block content %}
<div class="navigation">
    <a href="/dicts">My Dictionaries</a> | bookmark:  {% include "toolbar.html" %}
</div>

<h2>My Recent Words</h2>
<div class="quick_dict_view hidden">
</div>
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
  $(window).scroll(function(){
    $('.quick_dict_view').animate({top: (80 + $(document).scrollTop() + 'px')}, {duration:500, queue:false});
  });
});
</script>
<ol class="recent_words">
  {% include "quests.html" %}
</ol>

{% endblock %}
